#start_page {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute
}

#highscores {
    border-color: black;
    font-size: 50px;
}

#start_button {
    border-color: black;
    font-size: 50px;
}

#startingbuttons,
#categories {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2px;
    width: 100%;
    top: 40%;
    white-space: pre-line;
}

.letter_buttons {
    border-color: green;
    font-size: 4vh;
    background-color: olivedrab;
    margin: 5px;

}

#letter_buttons_block {
    position: relative;
    bottom: 75px;
}

#sports,
#brands,
#countries,
#food {
    font-size: 30px;
    border-color: black;
}

#image_block {
    margin-left: 30%;
    margin-top: 10%;
    position: relative;
}

#score_block {
    font-size: 30px;
    margin-top: -700px;
    margin-left: 2%;
}

#lives_block {
    font-size: 30px;
    margin-left: 2%;
}

#game_over {
    font-size: 20px;
    margin-top: 200px;
    margin-left: 10%;
}

#in-game_elements {
    margin-top: 50px;
}

#answerPlacement {
    margin-top: -100px;
}

.restart_button {
    border-color: black;
    position: relative;
    font-size: 20px;
    bottom: 200px;
}

#answer_bank {
    word-spacing: 15px;
}

#answer_bank_block {
    position: relative;
    bottom: 100px;

}